@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

body {
    background: rgba(43, 153, 98, 0.1);
    color: #1b262c;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

h1 {
    color: #1b262c;
    font-size: 32px;
    font-weight: 900;
}
h2 {
    color: #0f4c75;
    font-size: 24px;
    font-weight: lighter;
    font-weight: 500;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}
a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #3282b8;
    font-weight: 300;
    font-size: 18px;
}

.container {
    width: 600px;
    margin: 40px auto;
  }

.card {
    background-color: white;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;
  }
  
  .prof_picture {
    border-radius: 50px;
   }

  .list-inline > li {
    display: inline-block;
    padding: 0px 20px;
  }

  .list-inline {
    list-style: none;
    padding-left: 0px;
  }